{% extends 'base.html' %}

{% block header_text %}Your to-do list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
    <form method="POST" action="{% url 'delete_list' list.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete list</button>
    </form>
    <table id="id_list_table" class="table">
        {% for item in list.item_set.all %}
            <tr>
                <td>{{ forloop.counter }}: {{ item.text }}</td>
                <td>
                    <form method="POST" action="{% url 'delete_item' list.id item.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}